@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/manrope";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: "Manrope Variable", sans-serif;

  /* ========================================
     FIGMA PRIMARY PALETTE
  ======================================== */
  --color-primary-50: #eff9ff;
  --color-primary-100: #def1ff;
  --color-primary-200: #b6e6ff;
  --color-primary-300: #75d4ff;
  --color-primary-400: #2cbeff;
  --color-primary-500: #00a4f4;
  --color-primary-600: #0084d4;
  --color-primary-700: #0069ab;
  --color-primary-800: #00598d;
  --color-primary-900: #064a74;
  --color-primary-950: #042f4d;

  /* ========================================
     FIGMA NEUTRAL PALETTE
  ======================================== */

  --color-neutral-50: #f6f6f6;
  --color-neutral-100: #e7e7e7;
  --color-neutral-200: #d1d1d1;
  --color-neutral-300: #b0b0b0;
  --color-neutral-400: #888888;
  --color-neutral-500: #6d6d6d;
  --color-neutral-600: #5d5d5d;
  --color-neutral-700: #4f4f4f;
  --color-neutral-800: #454545;
  --color-neutral-900: #3d3d3d;
  --color-neutral-950: #000000;

  /* ========================================
     SHADCN SEMANTIC COLORS
  ======================================== */

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  /* Charts */
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  /* Sidebar */
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* Radius */
  --radius: 0.625rem;
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  /* Page */
  --background: #ffffff;
  --foreground: #3d3d3d;
  --card: #ffffff;
  --card-foreground: #3d3d3d;
  /* Popover */
  --popover: #ffffff;
  --popover-foreground: #3d3d3d;
  /* Main Brand */
  --primary: #00a4f4;
  --primary-foreground: #ffffff;
  /* Secondary */
  --secondary: #eff9ff;
  --secondary-foreground: #0069ab;
  /* Muted */
  --muted: #f6f6f6;
  --muted-foreground: #6d6d6d;

  /* Accent */
  --accent: #eff9ff;
  --accent-foreground: #0069ab;
  /* Dangerous actions */
  --destructive: #dc2626;

  /* Forms */
  --border: #e7e7e7;
  --input: #e7e7e7;
  --ring: #00a4f4;

  /* Charts */
  --chart-1: #00a4f4;
  --chart-2: #0084d4;
  --chart-3: #0069ab;
  --chart-4: #00598d;
  --chart-5: #064a74;

  /* Sidebar */
  --sidebar: #ffffff;
  --sidebar-foreground: #3d3d3d;

  --sidebar-primary: #00a4f4;
  --sidebar-primary-foreground: #ffffff;

  --sidebar-accent: #eff9ff;
  --sidebar-accent-foreground: #0069ab;

  --sidebar-border: #e7e7e7;
  --sidebar-ring: #00a4f4;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-linear-to-b from-primary/2 via-primary/2 to-primary/3 text-foreground;
  }
  html {
    @apply font-sans;
  }
}
